<div>
  <div>
    <h1>
      List of all msg chains
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new msg chain
    </h2>

    <form action="/insert_msg_chain" method="post">
      <div>
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id">
      </div>

      <div>
        <label for="receiver_id_box">
          Receiver
        </label>

        <input type="text" id="receiver_id_box" name="query_receiver_id">
      </div>

      <div>
        <label for="subject_box">
          Subject
        </label>

        <input type="text" id="subject_box" name="query_subject">
      </div>

      <div>
        <label for="item_id_box">
          Item
        </label>

        <input type="text" id="item_id_box" name="query_item_id">
      </div>

      <div>
        <label for="messages_count_box">
          Messages count
        </label>

        <input type="text" id="messages_count_box" name="query_messages_count">
      </div>

      <button>
        Create msg chain
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Sender
        </th>

        <th>
          Receiver
        </th>

        <th>
          Subject
        </th>

        <th>
          Item
        </th>

        <th>
          Messages count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_msg_chains.each do |a_msg_chain| %>
      <tr>
        <td>
          <%= a_msg_chain.id %>
        </td>

        <td>
          <%= a_msg_chain.sender_id %>
        </td>

        <td>
          <%= a_msg_chain.receiver_id %>
        </td>

        <td>
          <%= a_msg_chain.subject %>
        </td>

        <td>
          <%= a_msg_chain.item_id %>
        </td>

        <td>
          <%= a_msg_chain.messages_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_msg_chain.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_msg_chain.updated_at) %> ago
        </td>

        <td>
          <a href="/msg_chains/<%= a_msg_chain.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
