<div>
  <div>
    <h1>
      List of all reviews
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new review
    </h2>

    <form action="/insert_review" method="post">
      <div>
        <label for="rating_box">
          Rating
        </label>

        <input type="text" id="rating_box" name="query_rating">
      </div>

      <div>
        <label for="author_id_box">
          Author
        </label>

        <input type="text" id="author_id_box" name="query_author_id">
      </div>

      <div>
        <label for="user_about_id_box">
          User about
        </label>

        <input type="text" id="user_about_id_box" name="query_user_about_id">
      </div>

      <div>
        <label for="text_box">
          Text
        </label>

        <input type="text" id="text_box" name="query_text">
      </div>

      <div>
        <label for="would_to_again_box">
          Would to again
        </label>

        <input type="text" id="would_to_again_box" name="query_would_to_again">
      </div>

      <div>
        <label for="item_id_box">
          Item
        </label>

        <input type="text" id="item_id_box" name="query_item_id">
      </div>

      <button>
        Create review
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Rating
        </th>

        <th>
          Author
        </th>

        <th>
          User about
        </th>

        <th>
          Text
        </th>

        <th>
          Would to again
        </th>

        <th>
          Item
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_reviews.each do |a_review| %>
      <tr>
        <td>
          <%= a_review.id %>
        </td>

        <td>
          <%= a_review.rating %>
        </td>

        <td>
          <%= a_review.author_id %>
        </td>

        <td>
          <%= a_review.user_about_id %>
        </td>

        <td>
          <%= a_review.text %>
        </td>

        <td>
          <%= a_review.would_to_again %>
        </td>

        <td>
          <%= a_review.item_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_review.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_review.updated_at) %> ago
        </td>

        <td>
          <a href="/reviews/<%= a_review.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
